*

!invoicepdf.tpl
!README.md
!LICENSE

# Permitir navegação nas pastas de hooks
!includes/
!includes/hooks/

# Liberar arquivos específicos dentro de hooks
!includes/hooks/paghiper*.php

# Módulos
!modules/
!modules/gateways/
!modules/gateways/paghiper.php
!modules/gateways/paghiper_pix.php
!modules/gateways/paghiper/
!modules/gateways/paghiper/assets/
!modules/gateways/paghiper/assets/css/
!modules/gateways/paghiper/assets/css/*.css
!modules/gateways/paghiper/assets/js/
!modules/gateways/paghiper/assets/js/*.js
!modules/gateways/paghiper/assets/svg/
!modules/gateways/paghiper/assets/svg/*.svg
!modules/gateways/paghiper/**/*.php
modules/gateways/paghiper/tmp/

.DS_Store